{% extends "TercerEntrega/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Mallas</h1>
    
    <p>Mallas diponibles:</p>

    {% for i in mall %}

    <li>Modelo: {{i.nombreModelo}}</li>
    <li>Colores Disponibles: {{i.colores}}</li><br/>

    {% endfor %}
    
    <p><br/>Buscar por tipo de malla (Bikini/Enteriza):</p>
 
    <form action="/resultadoBusqueda/" method="GET"> 

        <input type="text" name="info" id="info">
  
      <input type="submit" value="Buscar" />

{% endblock %}