{% extends "TercerEntrega/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<h1> Sobre Nosotros:</h1>

<h3> Somos un microemprendimiento que se inició en el año 2020 en Monte Grande, al sur del conurbano bonaerense.
     Nos dedicamos al diseño y confeccion de mallas, pijamas y ropa interior.</h3><br/>
        
<h6>Para mas información ingresa y seguinos en nuestras redes sociales!:</h6><br/>

<ul class="list-inline mb-0">
    <li class="list-inline-item me-4">
        <a href="https://www.facebook.com/people/Aloha-Buenos-Aires/100063824859933/"><i class="bi-facebook fs-3"></i></a>
    </li>

    <li class="list-inline-item">
        <a href="https://www.instagram.com/alohabikinisba/?hl=es-la"><i class="bi-instagram fs-3"></i></a>
    </li>

{% endblock %}
